<form  [formGroup]="form"    (ngSubmit)="SaveFormData(form)">

  <div class="form-group">
      <label >FirstName</label>
      <input  formControlName="firstName"    class="form-control">
   
          <div  *ngIf="form.controls['firstName'].hasError('required')  && form.controls['firstName'].touched">
          FIrst Name is Required  
          </div>

          <div  *ngIf="form.controls['firstName'].hasError('minlength')">
              3 charecter is required for FIrst Name
          </div>

                 
  </div>

 <div class="form-group">
   <label for="comment">Comments</label>
   <input type="text" formControlName="comment"  name="comment"   id="comment" class="form-control">
  </div>
  <button class="btn btn-primary" type="button" (click)="btnSave()">SAVE</button>
  <button class="btn btn-primary" type="submit">SUBMIT</button>
  </form>